<h2>{{title}}</h2>
<form action="/submit" method="post">
    <div class="input">
        <lable for="email">Email</lable>
        <input type="text" id="email" name="email">
    </div>
    <div>
         <lable for="password">password</lable>
         <input type="password" id="password" name="email">
    </div>
    <div>
         <lable for="confirsmPassword">confirsmPassword</lable>
         <input type="confirsmPassword" id="confirsmPassword" name="email">
    </div>
    <button type="submit">Sign up</button>

</form>